langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv==2.4.1
pymupdf
wikipedia
langchain-text-splitters
langchain_openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-openai
langchain-groq
streamlit
langchain_core
fastapi
uvicorn
langserve
sse_starlette
langchain-classic
ddgs
SQLAlchemy
validators
youtube_transcript_api
unstructured
numexpr